config BOARD_STM32F405_CROBOT
    bool "select board STM32F405"
    depends on SOC_STM32F405RGT6

menu "Device Configuration"
    depends on BOARD_STM32F405_CROBOT

choice ROBOT_BASE_CONFIG
    prompt "robot base config"

config ROBOT_BASE_2WD
    bool "two-wheel differential"

config ROBOT_BASE_2WD_RADIUS
    int "wheel radius(0.1mm)"
    range 1 10000
    default 325
    depends on ROBOT_BASE_2WD

config ROBOT_BASE_2WD_SEPARATION
    int "wheel separation(0.1mm)"
    range 1 10000
    default 1720
    depends on ROBOT_BASE_2WD

config ROBOT_BASE_4WD
    bool "four-wheel differential"

config ROBOT_BASE_4WD_RADIUS
    int "wheel radius(0.1mm)"
    range 1 10000
    default 325
    depends on ROBOT_BASE_4WD


config ROBOT_BASE_4WD_SEPARATION
    int "wheel separation(0.1mm)"
    range 1 10000
    default 1720
    depends on ROBOT_BASE_4WD

config ROBOT_BASE_3WO
    bool "three-wheel omnidirectional"

config ROBOT_BASE_3WO_RADIUS
    int "wheel radius(0.1mm)"
    range 1 10000
    default 325
    depends on ROBOT_BASE_3WO

config ROBOT_BASE_3WO_DISTANCE
    int "distance from wheel to center(0.1mm)"
    range 1 10000
    default 1720
    depends on ROBOT_BASE_3WO

endchoice # ROBOT_BASE_CONFIG

choice ICM42605_CONFIG
    prompt "ICM42605 config"

config ICM42605_USE_HARD_I2C
    bool "hard i2c"

config ICM42605_USE_HARD_SPI
    bool "hard spi"

endchoice # ICM42605_CONFIG

choice PS2_CONTROLLER_CONFIG
    prompt "PS2 controller config"

config PS2_USE_HARD_SPI
    bool "hard spi"

config PS2_USE_SOFT_SPI
    bool "soft spi"

endchoice # PS2_CONTROLLER_CONFIG

endmenu # BOARD_STM32F405_CROBOT_DEVICE_CONFIG
