/*
/.vscode/*
/device/*
/device/board/*
/device/soc/*
/vendor/*

!.vscode
!.vscode/settings.json
!device
!device/board
!device/board/crobot
!device/soc
!device/soc/stm32
!vendor/crobot

!.clangd
!.gitignore
!host_com_protocol.md
